[submodule "extern/tinycthread"]
	path = extern/tinycthread
	url = https://github.com/tinycthread/tinycthread
[submodule "extern/libcork"]
	path = extern/libcork
	url = https://github.com/dcreager/libcork
